/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply
    bg-blue-400 p-2  rounded-xl
    hover:bg-slate-600 hover:text-white transition
    disabled:opacity-50 disabled:pointer-events-none
}

.active-btn {
  @apply border-2 border-black text-white
}


@layer components {

  .bg {
    background-color: red;
  }

  .bg2 {
    background-color: blue;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=number],
input[type=text],
textarea {
  @apply border-2
}

input.error {
  @apply border-red-500
}
