<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>avanade-23-2 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">avanade-23-2 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  ModalDeleteComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/uikit/modals/modal-delete.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-modal-delete</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;h1 mat-dialog-title&gt;Are you sure to remove {{data.name}}??? &lt;/h1&gt;
&lt;div mat-dialog-content&gt;
  &lt;p&gt;What&#x27;s your favorite animal?&lt;/p&gt;

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?

&lt;/div&gt;
&lt;div mat-dialog-actions&gt;
  &lt;button mat-button (click)&#x3D;&quot;onNoClick()&quot;&gt;No Thanks&lt;/button&gt;
  &lt;button mat-button [mat-dialog-close]&#x3D;&quot;true&quot; cdkFocusInitial&gt;Ok&lt;/button&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#data" >data</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#dialogRef" >dialogRef</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#onNoClick" >onNoClick</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(dialogRef: <a href="../components/ModalDeleteComponent.html" target="_self">MatDialogRef&lt;ModalDeleteComponent&gt;</a>, data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">src/app/features/uikit/modals/modal-delete.component.ts:25</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>dialogRef</td>
                                                  
                                                        <td>
                                                                        <code><a href="../components/ModalDeleteComponent.html" target="_self" >MatDialogRef&lt;ModalDeleteComponent&gt;</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>data</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onNoClick"></a>
                    <span class="name">
                        <span ><b>onNoClick</b></span>
                        <a href="#onNoClick"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onNoClick()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="33"
                            class="link-to-prism">src/app/features/uikit/modals/modal-delete.component.ts:33</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="data"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>data</b></span>
                        <a href="#data"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @Inject(MAT_DIALOG_DATA)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/features/uikit/modals/modal-delete.component.ts:28</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="dialogRef"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>dialogRef</b></span>
                        <a href="#dialogRef"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../components/ModalDeleteComponent.html" target="_self" >MatDialogRef&lt;ModalDeleteComponent&gt;</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">src/app/features/uikit/modals/modal-delete.component.ts:27</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Inject } from &#x27;@angular/core&#x27;;
import { MAT_DIALOG_DATA, MatDialogRef } from &#x27;@angular/material/dialog&#x27;;

@Component({
  selector: &#x27;app-modal-delete&#x27;,
  template: &#x60;
    &lt;h1 mat-dialog-title&gt;Are you sure to remove {{data.name}}??? &lt;/h1&gt;
    &lt;div mat-dialog-content&gt;
      &lt;p&gt;What&#x27;s your favorite animal?&lt;/p&gt;
      
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?
      
    &lt;/div&gt;
    &lt;div mat-dialog-actions&gt;
      &lt;button mat-button (click)&#x3D;&quot;onNoClick()&quot;&gt;No Thanks&lt;/button&gt;
      &lt;button mat-button [mat-dialog-close]&#x3D;&quot;true&quot; cdkFocusInitial&gt;Ok&lt;/button&gt;
    &lt;/div&gt;
  &#x60;,
  styles: [
  ]
})
export class ModalDeleteComponent {
  constructor(
    public dialogRef: MatDialogRef&lt;ModalDeleteComponent&gt;,
    @Inject(MAT_DIALOG_DATA) public data: any,
  ) {
    console.log(data)
  }

  onNoClick(): void {
    this.dialogRef.close();
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><h1 mat-dialog-title>Are you sure to remove {{data.name}}??? </h1><div mat-dialog-content>  <p>What\'s your favorite animal?</p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad, alias architecto consequuntur dicta enim eum explicabo, id nam nemo officiis placeat repellat rerum saepe sunt temporibus totam velit voluptatem?</div><div mat-dialog-actions>  <button mat-button (click)="onNoClick()">No Thanks</button>  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button></div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ButtonComponent', 'selector': 'app-button'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'CatalogComponent', 'selector': 'app-catalog'},{'name': 'CatalogFormComponent', 'selector': 'app-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'app-catalog-list'},{'name': 'ContactsComponent', 'selector': 'app-contacts'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'HomeListComponent', 'selector': 'app-home-list'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'LostpassComponent', 'selector': 'app-lostpass'},{'name': 'ModalAddComponent', 'selector': 'app-modal-add'},{'name': 'ModalDeleteComponent', 'selector': 'app-modal-delete'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'RegistrationComponent', 'selector': 'app-registration'},{'name': 'ShopComponent', 'selector': 'app-shop'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'TabbarComponent', 'selector': 'app-tabbar'},{'name': 'UikitComponent', 'selector': 'app-uikit'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ModalDeleteComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ModalDeleteComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
