<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>avanade-23-2 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">avanade-23-2 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  UikitComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/uikit/uikit.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-uikit</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
    .example-list {
      width: 500px;
      max-width: 100%;
      border: solid 1px #ccc;
      min-height: 60px;
      display: block;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }

    .example-box {
      padding: 20px 10px;
      border-bottom: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-box:last-child {
      border: none;
    }

    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-custom-placeholder {
      background: #ccc;
      border: solid 7px red;
      min-height: 60px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

  </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;p&gt;
  uikit works!
&lt;/p&gt;
&lt;button mat-icon-button (click)&#x3D;&quot;addUser()&quot;&gt;
  &lt;mat-icon fontIcon&#x3D;&quot;add&quot;&gt;&lt;/mat-icon&gt;
&lt;/button&gt;

&lt;mat-list role&#x3D;&quot;list&quot;  cdkDropList class&#x3D;&quot;example-list&quot;  (cdkDropListDropped)&#x3D;&quot;drop($event)&quot;&gt;

  &lt;div  *ngFor&#x3D;&quot;let user of users&quot; cdkDrag class&#x3D;&quot;example-box&quot;  &gt;
    &lt;div class&#x3D;&quot;example-custom-placeholder&quot; *cdkDragPlaceholder&gt;&lt;/div&gt;

    &lt;mat-list-item role&#x3D;&quot;listitem&quot;&gt;
      &lt;div class&#x3D;&quot;flex justify-between items-center&quot;&gt;
        {{user.name}}

        &lt;button mat-icon-button (click)&#x3D;&quot;deleteUser(user)&quot;&gt;
          &lt;mat-icon fontIcon&#x3D;&quot;delete&quot;&gt;&lt;/mat-icon&gt;
        &lt;/button&gt;
      &lt;/div&gt;

    &lt;/mat-list-item&gt;
    &lt;mat-divider&gt;&lt;/mat-divider&gt;
  &lt;/div&gt;

&lt;/mat-list&gt;



</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#dialog" >dialog</a>
                            </li>
                            <li>
                                <a href="#users" >users</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#addUser" >addUser</a>
                            </li>
                            <li>
                                <a href="#deleteUser" >deleteUser</a>
                            </li>
                            <li>
                                <a href="#drop" >drop</a>
                            </li>
                            <li>
                                <a href="#save" >save</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(http: <a href="https://angular.io/api/common/http/HttpClient" target="_blank">HttpClient</a>, snackBar: MatSnackBar, dialog: MatDialog)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="99" class="link-to-prism">src/app/features/uikit/uikit.component.ts:99</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/http/HttpClient" target="_blank" >HttpClient</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>snackBar</td>
                                                  
                                                        <td>
                                                                    <code>MatSnackBar</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>dialog</td>
                                                  
                                                        <td>
                                                                    <code>MatDialog</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="addUser"></a>
                    <span class="name">
                        <span ><b>addUser</b></span>
                        <a href="#addUser"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>addUser()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="142"
                            class="link-to-prism">src/app/features/uikit/uikit.component.ts:142</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="deleteUser"></a>
                    <span class="name">
                        <span ><b>deleteUser</b></span>
                        <a href="#deleteUser"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>deleteUser(user: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="125"
                            class="link-to-prism">src/app/features/uikit/uikit.component.ts:125</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>user</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="drop"></a>
                    <span class="name">
                        <span ><b>drop</b></span>
                        <a href="#drop"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>drop(event: CdkDragDrop<string[]>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="121"
                            class="link-to-prism">src/app/features/uikit/uikit.component.ts:121</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>CdkDragDrop&lt;string[]&gt;</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="save"></a>
                    <span class="name">
                        <span ><b>save</b></span>
                        <a href="#save"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>save(formData: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="112"
                            class="link-to-prism">src/app/features/uikit/uikit.component.ts:112</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>formData</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="dialog"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>dialog</b></span>
                        <a href="#dialog"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>MatDialog</code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="104" class="link-to-prism">src/app/features/uikit/uikit.component.ts:104</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="users"></a>
                    <span class="name">
                        <span ><b>users</b></span>
                        <a href="#users"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>any[]</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[]</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="99" class="link-to-prism">src/app/features/uikit/uikit.component.ts:99</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { CdkDragDrop, moveItemInArray } from &#x27;@angular/cdk/drag-drop&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { Component } from &#x27;@angular/core&#x27;;
import { MatDialog } from &#x27;@angular/material/dialog&#x27;;
import { MatSnackBar } from &#x27;@angular/material/snack-bar&#x27;;
import { CardComponent } from &#x27;../../shared/components/card.component&#x27;;
import { ModalAddComponent } from &#x27;./modals/modal-add.component&#x27;;
import { ModalDeleteComponent } from &#x27;./modals/modal-delete.component&#x27;;

@Component({
  selector: &#x27;app-uikit&#x27;,
  template: &#x60;
    &lt;p&gt;
      uikit works!
    &lt;/p&gt;
    &lt;button mat-icon-button (click)&#x3D;&quot;addUser()&quot;&gt;
      &lt;mat-icon fontIcon&#x3D;&quot;add&quot;&gt;&lt;/mat-icon&gt;
    &lt;/button&gt;

    &lt;mat-list role&#x3D;&quot;list&quot;  cdkDropList class&#x3D;&quot;example-list&quot;  (cdkDropListDropped)&#x3D;&quot;drop($event)&quot;&gt;
      
      &lt;div  *ngFor&#x3D;&quot;let user of users&quot; cdkDrag class&#x3D;&quot;example-box&quot;  &gt;
        &lt;div class&#x3D;&quot;example-custom-placeholder&quot; *cdkDragPlaceholder&gt;&lt;/div&gt;

        &lt;mat-list-item role&#x3D;&quot;listitem&quot;&gt;
          &lt;div class&#x3D;&quot;flex justify-between items-center&quot;&gt;
            {{user.name}}

            &lt;button mat-icon-button (click)&#x3D;&quot;deleteUser(user)&quot;&gt;
              &lt;mat-icon fontIcon&#x3D;&quot;delete&quot;&gt;&lt;/mat-icon&gt;
            &lt;/button&gt;
          &lt;/div&gt;

        &lt;/mat-list-item&gt;
        &lt;mat-divider&gt;&lt;/mat-divider&gt;
      &lt;/div&gt;
      
    &lt;/mat-list&gt;
    
    

  &#x60;,
  styles: [&#x60;
    .example-list {
      width: 500px;
      max-width: 100%;
      border: solid 1px #ccc;
      min-height: 60px;
      display: block;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }

    .example-box {
      padding: 20px 10px;
      border-bottom: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-box:last-child {
      border: none;
    }

    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-custom-placeholder {
      background: #ccc;
      border: solid 7px red;
      min-height: 60px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

  &#x60;]
})
export class UikitComponent {
  users: any[] &#x3D; [];

  constructor(
    private http: HttpClient,
    private snackBar: MatSnackBar,
    public dialog: MatDialog
  ) {
    http.get&lt;any[]&gt;(&#x27;https://jsonplaceholder.typicode.com/users&#x27;)
      .subscribe(res &#x3D;&gt; {
        this.users &#x3D; res;
      })
  }

  save(formData: any) {
    const params &#x3D; {
      ...formData,
      ids: this.users.map(u &#x3D;&gt; u.id)
    }
    console.log(params)
  }


  drop(event: CdkDragDrop&lt;string[]&gt;) {
    moveItemInArray(this.users, event.previousIndex, event.currentIndex);
  }

  deleteUser(user: any) {
    const dialog &#x3D; this.dialog.open(ModalDeleteComponent, {
      data: user
    })

    dialog.afterClosed()
      .subscribe(res &#x3D;&gt; {
        if (res) {
          this.http.delete(&#x60;https://jsonplaceholder.typicode.com/users/${user.id}&#x60;)
            .subscribe(res &#x3D;&gt; {
              this.users &#x3D; this.users.filter(u &#x3D;&gt; u.id !&#x3D;&#x3D; user.id);
              this.snackBar.open(&#x27;ok! deleted&#x27;, &#x27;DONE&#x27;, { duration: 1000});
            })
        }
      })
  }

  addUser() {
    const dialog &#x3D; this.dialog.open(ModalAddComponent, {})

    dialog.afterClosed()
      .subscribe(res &#x3D;&gt; {
        if (!res) return;

        this.http.post(&#x60;https://jsonplaceholder.typicode.com/users/&#x60;, { name: res})
          .subscribe(newUser &#x3D;&gt; {
            this.users &#x3D; [...this.users, newUser]
            this.snackBar.open(&#x27;ok success!&#x27;, &#x27;DONE&#x27;, { duration: 1000});
          })
      })
  }
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
    .example-list {
      width: 500px;
      max-width: 100%;
      border: solid 1px #ccc;
      min-height: 60px;
      display: block;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }

    .example-box {
      padding: 20px 10px;
      border-bottom: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-box:last-child {
      border: none;
    }

    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-custom-placeholder {
      background: #ccc;
      border: solid 7px red;
      min-height: 60px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

  
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><p>  uikit works!</p><button mat-icon-button (click)="addUser()">  <mat-icon fontIcon="add"></mat-icon></button><mat-list role="list"  cdkDropList class="example-list"  (cdkDropListDropped)="drop($event)">  <div  *ngFor="let user of users" cdkDrag class="example-box"  >    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>    <mat-list-item role="listitem">      <div class="flex justify-between items-center">        {{user.name}}        <button mat-icon-button (click)="deleteUser(user)">          <mat-icon fontIcon="delete"></mat-icon>        </button>      </div>    </mat-list-item>    <mat-divider></mat-divider>  </div></mat-list></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ButtonComponent', 'selector': 'app-button'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'CatalogComponent', 'selector': 'app-catalog'},{'name': 'CatalogFormComponent', 'selector': 'app-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'app-catalog-list'},{'name': 'ContactsComponent', 'selector': 'app-contacts'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'HomeListComponent', 'selector': 'app-home-list'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'LostpassComponent', 'selector': 'app-lostpass'},{'name': 'ModalAddComponent', 'selector': 'app-modal-add'},{'name': 'ModalDeleteComponent', 'selector': 'app-modal-delete'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'RegistrationComponent', 'selector': 'app-registration'},{'name': 'ShopComponent', 'selector': 'app-shop'},{'name': 'SigninComponent', 'selector': 'app-signin'},{'name': 'TabbarComponent', 'selector': 'app-tabbar'},{'name': 'UikitComponent', 'selector': 'app-uikit'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UikitComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UikitComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
